* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #fdfdfd;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  background: #f5e5e4;
  color: #333;
  padding: 20px 0;
  border-bottom: #bd978b 3px solid;
}

header a {
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header ul {
  padding: 0;
  list-style: none;
}

header li {
  display: inline;
  padding: 0 20px;
}

header nav {
  float: right;
  margin-top: 10px;
}

header h1 {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
}

.hero {
  background: #bd978b;
  color: #fff;
  padding: 100px 0;
  text-align: center;
}

.hero .btn {
  display: inline-block;
  color: #fff;
  background: #333;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  margin-top: 20px;
}

.features {
  padding: 50px 0;
  text-align: left; /* Align text to the left */
}

.features h3 {
  margin-bottom: 20px;
  color: #333;
}

.features .feature-item {
  margin: 20px 0;
  color: #555;
}

footer {
  background: #f5e5e4;
  color: #333;
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
  border-top: #bd978b 3px solid;
}

form {
  background: #f5e5e4;
  padding: 20px;
  border: 1px solid #bd978b;
  border-radius: 5px;
  margin-top: 20px;
  width: 40%; /* Set form width to 40% */
  float: left; /* Align form to the left */
}

.form-group {
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 10px;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
}

form select,
form input[type="number"],
form input[type="text"],
form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #bd978b;
  border-radius: 5px;
  font-size: 16px;
}

form input[type="submit"] {
  background: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
}

form input[type="submit"]:hover {
  background: #555;
}

@media (max-width: 768px) {
  header nav {
      float: none;
      text-align: center;
  }

  header nav ul {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  header h1 {
      text-align: center;
      margin-bottom: 20px;
  }

  header li {
      padding: 10px 0;
  }

  form {
      width: 90%; /* Make form full width on small screens */
      float: none; /* Center form on small screens */
  }
}
  